In [1]:
print("This is Zaid hussain")

This is Zaid hussain

In [2]:
#This is Zaid Hussain [Comment]

In [3]:
"""This
is 
zaid 
hussain
"""

'This\nis \nzaid \nhussain\n'

In [4]:
a=10

In [5]:
1

1

In [6]:
a

10

In [7]:
type(a)

int

In [8]:
b='zaid'

In [9]:
b

'zaid'

In [10]:
type(b)

str

In [11]:
print(a,b)

10 zaid

In [12]:
a,b = 50,'Sameer'

In [13]:
print(a,b)

50 Sameer

In [14]:
a

50

In [16]:
type(a)

int

In [17]:
name="Zaid"
userid="J0"
password="djsdsk"
mail="zaid@gmail.com"

In [18]:
a=1.2333224242

In [19]:
type(a)

float

In [21]:
b = True
c = False

In [22]:
type(a)

float

In [23]:
print(True + True + True +False+True)
print(False- True+True)

4
0

In [24]:
n=45+60j

In [25]:
type(n
    )

complex

In [26]:
n.real

45.0

In [27]:
n.imag

60.0

In [28]:
n=46+6j
m=90+32j

In [29]:
print(n*m)

(3948+2012j)

In [30]:
1+"Zaid"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
"1"+"Zaid"

'1Zaid'

In [32]:
1+1.0

2.0

In [33]:
"Zaid"+"Zaid"+"Zaid"

'ZaidZaidZaid'

In [34]:
"Zaid"*3

'ZaidZaidZaid'

In [51]:
a = int(input("enter a number "))

enter a number 100

In [52]:
b=int(input("enter a number "))

enter a number 200

In [53]:
c=int(input("enter a integer  "))

enter a integer  500

In [55]:
o = a+b/c

In [56]:
o

100.4

In [57]:
o1=o+10+9j

In [58]:
str(o1)+"Zaid"

'(110.4+9j)Zaid'

In [59]:
a = int(input("enter a number "))
if a<50:
    print("a is less than 50")

enter a number 40
a is less than 50

In [61]:
a = int(input("enter a number "))
if a<50:
    print("a is less than 50")
else:
    print("a is not less than 50")

enter a number 100
a is not less than 50

In [62]:
a = int(input("enter a number "))
if a<50:
    print("a is less than 50")
elif a<60:
    print("a is less then 60 ")
else:
    print("a is not less than 50")

enter a number 51
a is less then 60

In [64]:
salary = int(input("enter a number "))
if salary>1000 :
    print("i can buy a car")
elif salary>500:
    print("i can buy a bike")
else :
    print("i will not buy anything")

enter a number 400
i will not buy anything

In [4]:
salary = int(input("enter a number "))
if salary>1000 :
    print("i can buy a car")
    if salary>5000:
        print("i will buy a nano")
        if True:
            print("False code")
    elif salary>1000:
            print("i will buy a maruti")
    elif salary>500:
        print("i can buy a bike")
else :
    print("i will not buy anything")

enter a number 10000
i can buy a car
i will buy a nano
False code

In [7]:
a=10
b=10
print(id(a))

2725943181840

In [8]:
print(id(b))

2725943181840

In [9]:
a=10
b=20
if(a==10 and b==20):
    print("valid statement")

valid statement

In [10]:
a==10 and b==20

True

In [17]:
#AND Condition
a=10
b=20
if(a==10 and b>20):
    print("valid statement")
elif a==10 and b<=20:
    print("this statement is valid inside elif")
else :
        print("not valid statement")

this statement is valid inside elif

In [18]:
#OR Condition
a=10
b=20
if(a==10 or b>20):
    print("valid statement")
elif a==10 and b<=20:
    print("this statement is valid inside elif")
else :
        print("not valid statement")

valid statement

In [23]:
firstname = input("first name :")
Lastname = input("Last name :")
if(firstname=="Zaid" and Lastname=="Hussain"):
    print("name is correct")

first name :zaid
Last name :hussain

In [24]:
initial_speed= 0 
final_speed = 100
count=1
while initial_speed <=final_speed:
    print("this is my speed")
    count=count+1
    if count==5:
        break

this is my speed
this is my speed
this is my speed
this is my speed

In [ ]:
i=1
j=5
while i>j:
    print(i)
    i=i+1

In [2]:
n=5
i=1
while i<n:
    print(i)
    i+=1
else:
    print("no 10 rs n are available")

1
2
3
4
no 10 rs n are available

In [3]:
s="zaid"

In [4]:
s

'zaid'

In [6]:
s[3]

'd'

In [7]:
z="My name is zaid"

In [8]:
z[2:9]

' name i'

In [11]:
z[3:10:-1]

''

In [13]:
for i in z:
    print(i)

M
y

n
a
m
e

i
s

z
a
i
d

In [14]:
for i in z:
    print(i)
else:
    if i=="d":
        print("d is last")

M
y

n
a
m
e

i
s

z
a
i
d
d is last

In [16]:
for i in z:
    if i=="n":
        break
    print(i)
else:
    if i=="d":
        print("d is last")

M
y

In [1]:
#String datatype
a="This is zaid's laptop"

In [2]:
a

"This is zaid's laptop"

In [3]:
b="This is zaid"s laptop"

SyntaxError: unterminated string literal (detected at line 1) (1697983072.py, line 1)

In [4]:
a[0]

'T'

In [5]:
a[-1]

'p'

In [6]:
len(a)

21

In [7]:
a[50]

IndexError: string index out of range

In [8]:
a[6:15]

"s zaid's "

In [11]:
a[-4:-9:-2]

'pls'

In [13]:
for i in a:
    print(i)

T
h
i
s

i
s

z
a
i
d
'
s

l
a
p
t
o
p

In [14]:
a[::-1]

"potpal s'diaz si sihT"

In [15]:
"Zaid" + "Hussain"

'ZaidHussain'

In [19]:
"Zaid" + str(7)

'Zaid7'

In [20]:
"Zaid" *10

'ZaidZaidZaidZaidZaidZaidZaidZaidZaidZaid'

In [21]:
a.find("z")

8

In [2]:
s="My name is name"

In [3]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [4]:
s.split()

['My', 'name', 'is', 'name']

In [5]:
s.split(',')

['My name is name']

In [6]:
s.split('i')

['My name ', 's name']

In [7]:
s.upper()

'MY NAME IS NAME'

In [8]:
s.lower()

'my name is name'

In [9]:
s.swapcase()

'mY NAME IS NAME'

In [10]:
s

'My name is name'

In [11]:
" ".join(s)

'M y   n a m e   i s   n a m e'

In [12]:
" 0 ".join(s)

'M 0 y 0   0 n 0 a 0 m 0 e 0   0 i 0 s 0   0 n 0 a 0 m 0 e'

In [14]:
list(reversed(s))

['e', 'm', 'a', 'n', ' ', 's', 'i', ' ', 'e', 'm', 'a', 'n', ' ', 'y', 'M']

In [16]:
for i in reversed(s):
    print(i)

e
m
a
n

s
i

e
m
a
n

y
M

In [17]:
s[::-1]

'eman si eman yM'

In [18]:
s="         Zaid"

In [19]:
s.strip()

'Zaid'

In [20]:
s.lstrip()

'Zaid'

In [26]:
s.replace("Z",'a')

'         aaid'

In [27]:
a="zaid"

In [28]:
a.center(6,'@')

'@zaid@'

In [29]:
z="Zaid\tHussain"

In [30]:
z.expandtabs()

'Zaid    Hussain'

In [31]:

b="we are a part of full stack"

In [32]:
# 1.Normalizing entire string in lower case
b.lower()

'we are a part of full stack'

In [33]:
# 2.finding number of occurances of "a" in entire string
b.find("a")

3

In [34]:
#4.replace all a's with ineuron
b.replace("a",'ineuron')

'we ineuronre ineuron pineuronrt of full stineuronck'

In [36]:
#5. print all the words as a list
b.split()

['we', 'are', 'a', 'part', 'of', 'full', 'stack']

In [43]:
# 3.FInd all the location/indexes of "a" in the string
for i in range(len(b)):
    if b[i]=="a":
        print(i)

3
7
10
24

In [47]:
b="we are a part of full stack"
# 1.Normalizing entire string in lower case
print(b.lower())
# 2.finding number of occurances of "a" in entire string
print(b.find("a"))
# 3.FInd all the location/indexes of "a" in the string
for i in range(len(b)):
    if b[i]=="a":
        print(i)
#4.replace all a's with ineuron
print(b.replace("a",'ineuron'))
#5. print all the words as a list
b.split()

we are a part of full stack
3
3
7
10
24
we ineuronre ineuron pineuronrt of full stineuronck

['we', 'are', 'a', 'part', 'of', 'full', 'stack']

In [48]:
s.isdigit

In [50]:
z="zaid hussain"

In [51]:
z.isupper()

False

In [52]:
z.islower()

True

In [53]:
z.isspace()

False

In [55]:
x="1234"
x.isdigit

In [56]:
z.endswith('n')

True

In [58]:
z.startswith('n')

False

In [60]:
w="zaid"
ch=len(w)-1
while ch>=0:
    print(w[ch])
    ch=ch-1

d
i
a
z

In [62]:
"{} name is Zaid".format("my")

'my name is Zaid'

In [63]:
"{} name {} Zaid".format("my","is")

'my name is Zaid'

In [64]:
a=input()
b=input()

jdsjkjfds
fkjsifjasio

In [65]:
"{} name {} Zaid".format(a,b)

'jdsjkjfds name fkjsifjasio Zaid'

In [ ]:
s=input("Enter the data to check a palindrome")
s1=s[::-1]
if s=s1:
    print(" s is palindrome")
    else:
        print("not as palindrome")

In [3]:
s=input("Enter the data to check a palindrome")
s1=s[::-1]
if s == s1:
    print(" s is palindrome")
else:
    print("not as palindrome")

Enter the data to check a palindromeeye
 s is palindrome

In [5]:
l=["zaid",7,40,[100,99]]

In [6]:
l[3]

[100, 99]

In [7]:
l[0:3:-1]
#contradiction occurs

[]

In [8]:
l[3:0:-1]

[[100, 99], 40, 7]

In [12]:
s="zaid"
s=list(s)
s
#conversion leads to split in words

['z', 'a', 'i', 'd']

In [13]:
s=["zaid"]

In [14]:
l+s

['zaid', 7, 40, [100, 99], 'zaid']

In [15]:
"sudh" in l

False

In [16]:
10 in l

False